/* Resetowanie stylów domyślnych */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* Styl nagłówka */
  header {
    background-color: #333;
    color: #fff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center
}

nav ul {
list-style: none;
display: flex;
}

nav li {
margin: 0 20px;
}

nav a {
color: #fff;
text-decoration: none;
font-weight: bold;
}

/* Styl sekcji hero */
.hero {
background-image: url('hero.jpg');
background-size: cover;
height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.hero h1 {
font-size: 60px;
margin-bottom: 20px;
text-align: center;
}

.hero p {
font-size: 24px;
margin-bottom: 40px;
text-align: center;
}

.hero a {
background-color: #333;
color: #fff;
padding: 20px 40px;
font-size: 20px;
text-decoration: none;
}

/* Styl sekcji featured-jobs */
.featured-jobs {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 50px 0;
}

.job-card {
background-color: #fff;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
margin: 20px;
padding: 20px;
width: 300px;
color: black;
}

.job-card h3 {
font-size: 24px;
margin-bottom: 10px;
color: black;
}

.job-card p {
font-size: 16px;
margin-bottom: 20px;
color: black;
}

.job-card a {
background-color: #333;
color: #fff;
padding: 10px 20px;
font-size: 16px;
text-decoration: none;
}

/* Styl sekcji how-it-works */
.how-it-works {
background-color: #f2f2f2;
padding: 50px;
color: black;
}

.how-it-works h2 {
font-size: 36px;
margin-bottom: 20px;
color: black;
}

.how-it-works ol {
list-style: none;
display: flex;
justify-content: center;
align-items: center;
color: black;
}

.how-it-works li {
font-size: 20px;
margin: 0 20px;
color: black;
}

/* Styl stopki */
footer {
background-color: #333;
color: #fff;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
}

footer p {
font-size: 16px;
}
#test{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .9);
    background-image:url("zdjecie.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

#user{
  position: absolute;
  right: 1vh;
}