/* Resetowanie stylów domyślnych */
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Hw0aXpsog.woff2) format('woff2');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
  }


  /* Styl nagłówka */
header {
    
    color: black;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 20px;

}

a{
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

nav ul {
list-style: none;
display: flex;
}

nav li {
margin: 0 20px;
}

nav a {
color: #000;
text-decoration: none;
font-weight: bold;
}

/* Styl sekcji hero */
.hero {
background-image: url('hero.jpg');
background-size: cover;
height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
color: black;
}

.hero h1 {
font-size: 60px;
margin-bottom: 20px;
text-align: center;
}

.hero p {
font-size: 24px;
margin-bottom: 40px;
text-align: center;
}

.hero a {
background-color: #333;
color: #fff;
padding: 20px 40px;
font-size: 20px;
text-decoration: none;
}

/* Styl sekcji featured-jobs */
.featured-jobs {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
padding: 40px 0;
color:black;
}


.job-card {
display: flex;
flex-direction: column;
background-color: #fff;
border-radius: 5px;
box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
margin: 40px;
padding: 20px;
width: 320px;
height: 230px;
color: black;
text-align:justify;
}

.job-title{
font-size: 22px;
height:60px;
text-align: left;
color: black;
}


.description{
height: 100px;
font-size: 16px;
margin-top: 10px;
margin-bottom: 10px;
color: black;
}

.job-button{
height: 40px;
background-color: #333;
color: #fff;
padding: 10px 20px;
font-size: 16px;
text-decoration: none;
}

.job-button a{
  color:#fff;
}

/* Styl sekcji how-it-works */
.how-it-works {
background-color: #f2f2f2d9;
padding: 50px;
color: black;
}

.how-it-works h2 {
font-size: 36px;

margin-bottom: 20px;
color: black;

}

.how-it-works ol {
list-style: none;
display:flex;
justify-content: center;
align-items: center;
color: black;
}

.how-it-works li {
font-size: 20px;
margin: 0 20px;
color: black;
}

/* Styl stopki */
footer {
background-color: #333;
color: #fff;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
}

footer p {
font-size: 16px;
}
#test{
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .9);
    background-image:url("baba.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

#log-in{
  position: absolute; right: 1vh;
}



#user{
  position: absolute;
  right: 1vh;
  font-weight: 1000;
  font-size: 18px;
}


/* Login page */

.wrapper {
  width: 100%;
  min-height: 89.6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  position: relative;
  width: 100%;
  max-width: 700px;
  height: auto;
  display: flex;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}


h2 {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

p {
  margin: 0 0 0 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.col-left,
.col-right {
  width: 55%;
  padding: 45px 35px;
  display: flex;
}

.col-left {
  width: 45%;
  background: #333;
}

.login-text {
  position: relative;
  width: 100%;
  color: #ffffff;
  text-align: center;
}

.login-form {
  position: relative;
  width: 100%;
  color: #666666;
}

.login-form p a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.login-form input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
}


/* Login menu */
.login-menu p{
  font-size: 25px;
  line-height: 32px;
  color: #000;

}


.login-menu a{
  font-size: 22px;
  font-weight:550;
}


/* Registration page */

.wrapper-reg {

  max-width: 100%;
  min-height: 89.6vh;
  margin-bottom: 50px;
  margin-top: 50px;;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-reg {
  position: relative;
  width: 100%;
  max-width: 700px;
  display: flex;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}


.login-text-reg {
  position: relative;
  width: 100%;
  color: #ffffff;
  text-align: center;
  
}

.login-form-reg {
  position: relative;
  width: 100%;
  color: #666666;
}

.reg-type{
  
  display: flex;
  position:relative;
  margin-bottom:25px;
  transform: scale(0.9);
}
.reg-type label{
  margin:auto;
}
.reg-button{
  display: flex;
  position:relative;
}
.reg-button label{
  margin:auto;
  margin-top: 10px;
}
.reg-button input{
  position: relative;
  margin:auto;
  transform: scale(0.4);
  right:9vh;
}

.login-form-reg input {
  display: block;
  width: 100%;
  height:40px;
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

/* Job offers page */

.hero-offers{
  background-color:rgba(255, 255, 255, .2);
  text-align: center; 
}

.hero-offers a {
  color:#000;
  font-size: 80px;
  text-align: center;    
}

.hero-offers h1 {
  color:#000;
  font-size: 24px;
  text-align: center;    
}

.offer-container{
  background-color:rgba(255, 255, 255, .9);
  min-height: 662px;
  padding: 30px 50px 50px 50px;
  color: black;
}

.offer-container h2{
  font-size: 50px;
}

.offer-container a{
  margin-top: 20px;
  font-size: 30px;
}

.offer h3{
    font-size: 25px;
}

.offer p{
margin-top: 20px;
}

.offer{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  height: 150px;
  color: black;
}


.offer-info{
  min-height: 400px;
  margin-top: 28px;
  font-size: 20px;
  line-height: 30px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  color: black;
}

.offer-desc{
min-height:100px;
}

.offer-info h3{
  font-size: 30px;
}

.offer-button{
  margin-top: 30px;
  text-align: left;
  line-height: 40px;
 
}
.offer-button p{
  padding:1px;
  margin-bottom: 5px;
 
}
.offer-button a{
  font-size: 27px;
  margin-top:10px;
  border-radius:2px ;
}

/* Adding offer page */

.wrapper-offer {

  max-width: 100%;
  min-height: 89.6vh;
  margin-bottom: 50px;
  margin-top: 50px;
  color:#000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-offer {
  position: relative;
  width: 100%;
  max-width: 725px;
  color:#000;
  display: flex;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.col-left-offer,
.col-right-offer {
  width: 72%;
  padding: 45px 35px;
  display: flex;
  color:#000;
  font-weight: 600;
}

.col-left-offer {
  width: 28%;
  background: #333;
}

.offer-title{
  font-size:24px;
  color:#000;
  font-weight: 600;

}

.availability-type{
  
  display: flex;
  position:relative;
  margin-bottom: 25px;;
  margin-top: 25px;
  
}

.availability-type label{
  margin:auto;
  font-size:18px;
  color:#000;
}

.availability-type input{
  transform: scale(0.7);
}
.availability-type input p{
  font-size: 20px;
}

.text-offer {
  position: relative;
  width: 100%;
  color: #ffffff;
  text-align: center;
  
}

.form-offer {
  position: relative;
  width: 100%;
  color: #666666;
}

.form-offer input {
  display: block;
  width: 100%;
  height:40px;
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

#formatka_dostepnosc_dni_tyg{
  min-width: 700px;
}

/* free day checkbox adjust */
/* ^^^^^^^^^^^^^^^^^^^^^^^^ */
input#dysp_pon_czy_wolne {
  width: 24px;
  margin: auto;
  height: 24px;
}
input#dysp_wto_czy_wolne {
  width: 24px;
  margin: auto;
  height: 24px;
}
input#dysp_sro_czy_wolne {
  width: 24px;
  margin: auto;
  height: 24px;
}
input#dysp_czw_czy_wolne {
  width: 24px;
  margin: auto;
  height: 24px;
}
input#dysp_pt_czy_wolne {
  width: 24px;
  margin: auto;
  height: 24px;
}
input#dysp_sob_czy_wolne {
  width: 24px;
  margin: auto;
  height: 24px;
}
input#dysp_niedz_czy_wolne {
  width: 24px;
  margin: auto;
  height: 24px;
}
/* ^^^^^^^^^^^^^^^^^^^^^^^^ */
/* free day checkbox adjust */


.offer-description{
  color:#000;
  font-size: 24px;
  margin-bottom: 10px;
}

.offer-description textarea{
  width: 452px;
  height: 100px;
  resize: none;
}


/* Offer managing */


.oferta {
  cursor: pointer;
  min-height:100px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.oferta:hover {
  background-color: #e0e0e0;
}

.oferta p{
  font-size: 24px;
}


.opcje-oferty {
  display: none;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 22px;
}

input[type="text"],
textarea {
  width: 100%;
  font-size: 18px;
  padding: 5px;
  margin-bottom: 10px;
  resize:none;
}

input[type="submit"] {
  padding: 5px 10px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  margin:0px 10px 20px 0px ;
  font-size: 20px;;
}

input[type="submit"]:hover {
  background-color: #999;
  color: #fff;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

/* Applicaton an offer */


.wrapper-app {

  max-width: 100%;
  min-height: 89.6vh;
  margin-bottom: 50px;
  margin-top: 50px;
  color:#000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-app {
  position: relative;
  width: 100%;
  max-width: 725px;
  color:#000;
  display: flex;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.col-left-app,
.col-right-app {
  width: 75%;
  padding: 45px 35px;
  display: flex;
  color:#000;
  font-weight: 600;
}

.col-left-app {
  width: 30%;
  background: #333;
}

.login-text-app {
  position: relative;
  width: 100%;
  color: #fff;
  text-align: center;
}

.login-form-app {
  position: relative;
  width: 100%;
  color: #666666;
}

.login-form-app p a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.login-form-app input {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 5px;
}


.offer-app{
 
  min-height: auto;
  font-size:20px;
  margin-top: 28px;
  line-height: 38px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 28px;
  color: black;
}

.offer-app h3{
  font-size: 28px;
}

.offer-app a{
  font-size: 28px;
  font-weight: 700;
}

.buttonsDiv button{
 padding: 20px;
}

button#przyjmijBtn {
  transform: scale(1.5);
  margin:15px 25px 20px 19px;
  padding:7px;
  background-color: #333;
  color:#fff
}

button#zamknijBtn {
  transform: scale(1.5);
  margin:15px 20px 15px 30px;
  padding:7px;
  background-color: #333;
  color:#fff
}
.check-type{
  display: flex;
  margin:15px 17px 15px 15px;
  transform: scale(1.03);
}

input#dost_radio_caly_tydz {
  margin-left: 60px;
  margin-right: 15px;
}

input[type="radio"] {
  margin-left: 3px;
  margin-right: 15px;
}


